.user-table {
  border: 1px solid #8a8a8a;
  border-collapse: collapse;
}

.user-table-tr {
  border-top: 1px solid #8a8a8a;
  padding: 10px;
}
.user-table-tr:nth-of-type(odd) {
  background-color: #fafafa;
}
.user-table-td {
  border-right: 1px solid #8a8a8a;
  padding: 10px;
}

.user-table-icon {
  position: relative;
  display: inline-block;
  width: 20px;
}

.sortUpIcon {
  position: absolute;
  top: -15px;
  right: -1px;
  width: 16px;
  height: 16px;
}
.sortDownIcon {
  position: absolute;
  top: -15px;
  right: -1px;
  width: 16px;
  height: 16px;
}